repos:
- repo: local
  hooks:
  - id: type-check
    name: Python type checking
    language: system
    entry: uvx ty check
    pass_filenames: false
    files: \.py$
  - id: export-docs-requirements
    name: Export docs requirements
    language: system
    entry: uv export --group docs --format requirements.txt --no-annotate --no-header --no-hashes --no-editable -q -o docs/requirements.txt
    pass_filenames: false
    files: \.(toml|lock|yaml)$
    verbose: true
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.2
  hooks:
    - id: ruff-check
      args: [ --fix ]
    - id: ruff-format
